ul.nav
	li
		i.icon-home
		a(href=site.baseurl + '/') Home

	li
		i.icon-spaceship
		a
			| Getting Started 
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Plain JavaScript
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/plain-javascript/install-using-plain-javascript') Installation
					li
						a(href=site.baseurl + '/getting-started/plain-javascript/your-first-chart-using-plain-javascript') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/plain-javascript/setting-data-source-using-url') Setting Data Source Using URL
					li
						a(href=site.baseurl + '/getting-started/plain-javascript/add-drill-down-using-plain-javascript') Adding Drill Down
					li
						a(href=site.baseurl + '/getting-started/plain-javascript/export-charts-using-plain-javascript') Export
			li
				a
					| Angular
					i.icon-keyboard-arrow-right
				ul
					li
						a
							| AngularJS (v1.x)
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/getting-started/angular/angularjs/install-using-angularjs') Installation
							li
								a(href=site.baseurl + '/getting-started/angular/angularjs/your-first-chart-using-angularjs') Your First Chart
							li
								a(href=site.baseurl + '/getting-started/angular/angularjs/configure-your-chart-using-angularjs') Configuring your Chart
							li
								a(href=site.baseurl + '/getting-started/angular/angularjs/add-drill-down-using-angularjs') Adding Drill-Down

					li
						a
							| Angular (v2.x & Above)
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/getting-started/angular/angular/install-using-angular') Installation
							li
								a(href=site.baseurl + '/getting-started/angular/angular/your-first-chart-using-angular') Your First Chart
							li
								a(href=site.baseurl + '/getting-started/angular/angular/configure-your-chart-using-angular') Configuring your Chart
							li
								a(href=site.baseurl + '/getting-started/angular/angular/add-drill-down-using-angular') Adding Drill-Down
			li
				a
					| React
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/react/install-using-react') Installation
					li
						a(href=site.baseurl + '/getting-started/react/your-first-chart-using-react') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/react/configure-your-chart-using-react') Configuring your Chart
					li
						a(href=site.baseurl + '/getting-started/react/add-drill-down-using-react') Adding Drill-Down
					li
						a(href=site.baseurl + '/getting-started/react/export-charts-using-react') Export
			li
				a
					| Vue
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/vue/install-using-vuejs') Installation
					li
						a(href=site.baseurl + '/getting-started/vue/your-first-chart-using-vuejs') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/vue/configure-your-chart-using-vuejs') Configuring your Chart
					li
						a(href=site.baseurl + '/getting-started/vue/add-drill-down-using-vuejs') Adding Drill-Down
					li
						a(href=site.baseurl + '/getting-started/vue/export-charts-using-vuejs') Export
			li
				a
					| JQuery
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/jquery/install-using-jquery') Installation
					li
						a(href=site.baseurl + '/getting-started/jquery/your-first-chart-using-jquery') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/jquery/configure-your-chart-using-jquery') Configuring your Chart
					li
						a(href=site.baseurl + '/getting-started/jquery/rendering-charts-from-html-tables') Rendering Charts from HTML Tables
					li
						a(href=site.baseurl + '/getting-started/jquery/add-drill-down-using-jquery') Adding Drill-Down
					li
						a(href=site.baseurl + '/getting-started/jquery/export-charts-using-jquery') Export
			li
				a
					| Ember
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/ember/install-using-ember') Installation
					li
						a(href=site.baseurl + '/getting-started/ember/your-first-chart-using-ember') Your First Chart
			li
				a
					| PHP
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/php/install-using-php') Installation
					li
						a(href=site.baseurl + '/getting-started/php/your-first-chart-using-php') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/php/create-charts-in-php-using-database') Create Charts in PHP using Database
			li
				a
					| Java
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/java/install-using-java') Installation
					li
						a(href=site.baseurl + '/getting-started/java/your-first-chart-using-java') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/java/create-charts-in-java-using-database') Create Charts in JAVA using Database
			li
				a
					| ASP.NET
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/aspnet/install-using-aspnet') Installation
					li
						a(href=site.baseurl + '/getting-started/aspnet/your-first-chart-using-aspnet') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/aspnet/create-charts-in-aspnet-using-database') Create Charts in ASP.NET using Database
					li
						a(href=site.baseurl + '/getting-started/aspnet/add-drill-down-using-aspnet') Adding Drill-Down
			li
				a
					| Django
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/django/install-using-django') Installation
					li
						a(href=site.baseurl + '/getting-started/django/your-first-chart-using-django') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/django/create-charts-in-django-using-database') Create Charts in Django using Database
			li
				a
					| Ruby on Rails
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/getting-started/ruby-on-rails/install-using-ruby-on-rails') Installation
					li
						a(href=site.baseurl + '/getting-started/ruby-on-rails/your-first-chart-using-ruby-on-rails') Your First Chart
					li
						a(href=site.baseurl + '/getting-started/ruby-on-rails/create-charts-in-ruby-on-rails-using-database') Create Charts in ROR using Database
	li
		i.icon-configure
		a
			| Configuring your charts
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| By Chart Type
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-guide/list-of-charts') List of Charts				
					li
						a
							| Charts
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/line-area-and-column-charts') Line, Area and Column Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/pie-and-doughnut-charts') Pie and Doughnut Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/multi-series-charts') Multi-Series Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/overlapped-column-and-bar-charts') Overlapped Column and Bar Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/combination-charts') Combination Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/stacked-charts') Stacked Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/scroll-charts') Scroll Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/bubble-and-xy-charts') Bubble and Scatter Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/pareto-charts') Pareto Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/marimekko-chart') Marimekko Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/treemap') Treemap
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/heat-map-chart') Heat Map Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/gantt-chart') Gantt Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/zoom-line-charts') Zoom Line Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/drag-able-charts') Drag-able Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/select-scatter-chart') Select Scatter Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/zoom-scatter-chart') Zoom Scatter Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/radar-chart') Radar Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/funnel-chart') Funnel Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/pyramid-chart') Pyramid Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/bullet-graphs') Bullet Graphs
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/multi-axis-line-chart') Multi-axis Line Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/multi-level-pie-chart') Multi-level Pie Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/candlestick-chart') Candlestick Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/waterfall-chart') Waterfall Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/box-and-whisker-chart') Box and Whisker Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/error-charts') Error Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/spline-charts') Spline Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/inverse-y-axis-chart') Inverse Y Axis Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/logarithmic-charts') Logarithmic Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/step-line-chart') Step Line Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/kagi-chart') Kagi Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/spark-charts') Spark Charts
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/drag-node-chart') Drag Node Chart
							li
								a(href=site.baseurl + '/chart-guide/standard-charts/real-time-charts') Real-Time Charts	
					li
						a
							| Gauges and Widgets
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/chart-guide/gauges-and-widgets/angular-gauge') Angular Gauge
							li
								a(href=site.baseurl + '/chart-guide/gauges-and-widgets/bulb-gauge') Bulb Gauge
							li
								a(href=site.baseurl + '/chart-guide/gauges-and-widgets/cylinder-gauge') Cylinder Gauge
							li
								a(href=site.baseurl + '/chart-guide/gauges-and-widgets/led-gauge') Led Gauge
							li
								a(href=site.baseurl + '/chart-guide/gauges-and-widgets/linear-gauge') Linear Gauge
							li
								a(href=site.baseurl + '/chart-guide/gauges-and-widgets/thermometer-gauge') Thermometer Gauge
					li
						a
							| Maps
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/map-guide/list-of-maps') List of Maps
							li
								a(href=site.baseurl + '/map-guide/setup') Setup
							li
								a(href=site.baseurl + '/map-guide/simple-data-driven-maps') Simple Data Driven Map
							li
								a(href=site.baseurl + '/map-guide/custom-entity-ids') Custom Entity IDs
							li
								a(href=site.baseurl + '/map-guide/colouring-based-on-data-range') Add Color Based on Data Range
							li
								a(href=site.baseurl + '/map-guide/markers') Markers
							li
								a(href=site.baseurl + '/map-guide/listening-to-map-events') Listening to Map Events
							li
								a(href=site.baseurl + '/map-guide/add-drill-down-to-maps') Add Drill Down to Maps
			li
				a
					| By Chart Component
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/size-and-type') Size and Type
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/border-and-background') Border and Background
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/canvas') Canvas
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/titles-and-axis-names') Titles and Axis Names
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/data-plot') Data Plot
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/data-labels') Data Labels
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/data-values') Data Values
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/number-format') Number Format
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/fonts') Fonts
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/chart-palettes') Chart Palettes 
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/chart-limits') Chart Limits 
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/div-lines-and-grids') Div Lines and Grids
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/vertical-div-lines') Vertical Div Lines
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/zero-plane') Zero Plane
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/trend-lines-and-zones') Trend Lines and Zones
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/anchors-and-lines') Anchors and Lines
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/cross-line') Cross Line
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/tool-tips') Tooltips
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/vertical-lines') Vertical Lines
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/legend') Legend
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/annotations') Annotations
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/tick-marks') Tick Marks
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/loading-external-logo') Loading External Logo
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/chart-paddings-and-margins') Chart Paddings and Margins
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/toolbar') Toolbar
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/drill-down') Drill-down
			li
				a
					| Using Themes
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/themes/introduction-to-themes') Introduction to Themes
					li
						a(href=site.baseurl + '/themes/theme-manager') Theme Manager
					li
						a(href=site.baseurl + '/themes/create-your-own-themes') Create Your Own Themes
			li
				a
					| Exporting Charts
					i.icon-keyboard-arrow-right
				ul
					li
						a
							| Setting up Simple Export
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/exporting-charts-as-image-and-pdf') Exporting Charts as Image and PDF
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/exporting-chart-data') Exporting Chart Data
							li
								a
									| Modes of Export
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/modes-of-export/exporting-charts-and-chart-data-using-the-server-side-export-feature') Exporting Charts and Chart Data Using the Server-side Export Feature
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/modes-of-export/exporting-charts-and-chart-data-using-the-client-side-export-feature') Exporting Charts and Chart Data Using the Client-side Export Feature
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/modes-of-export/exporting-charts-and-chart-data-using-the-auto-export-feature') Exporting Charts and Chart Data Using the Auto Export Feature
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/logging-export-statistics') Logging Export Statistics
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/configuring-the-export-feature') Configuring the Export Feature
							li
								a
									| Export Handler
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/asp-net') ASP.NET
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/php') PHP
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/java') Java
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/ruby-on-rails') Ruby on Rails
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/exporting-multiple-charts-in-a-single-image') Exporting Multiple Charts in a Single Image
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/architecture-of-the-fusioncharts-export-server') Architecture of the FusionCharts Export Server
					li
						a
							| Using FusionExport
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/overview') Overview
							li
								a
									| Installation
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/install-fusionexport-server') Install FusionExport Server
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/install-fusionexport-cli') Install FusionExport CLI
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/install-fusionexport-server-sdks') Install FusionExport Server SDKs
							li
								a
									| Tutorials
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-chart-as-image') Export chart as image
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/change-the-export-type') Change the export type
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-charts-in-bulk') Export charts as bulk
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/change-the-export-quality') Change the export quality
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/customize-the-width-and-height-of-an-exported-chart') Customize the width and height of an exported chart
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-in-bulk-using-multiple-js-json-files') Export in bulk using multiple json files
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-the-output-files-as-zip') Export the output files as a zip
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/override-the-chart-config') Override the chart config
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-a-dashboard') Export a dashboard
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/add-a-logo-or-heading-to-the-dashboard') Add a logo or a heading to the dashboard
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/convert-an-svg-image-to-png-jpeg-pdf') Convert an SVG image to PNG/JPEG/PDF
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/inject-extra-javascript-while-exporting') Inject extra JavaScript while exporting
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/manipulate-the-output-filename') Manipulate the output filename
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/cli-options-in-a-file') Add CLI options in a file
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/enabling-logging') Enable logging
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/save-exported-files-to-s-three') Save exported files to S3
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/asynchronous-capture') Asynchronous capture
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-a-d3-chart') Export a D3 chart
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/fusionexport-server') FusionExport Server Reference
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/cli-reference') CLI Reference
							li
								a
									| SDK API Reference
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/nodejs') Node.js
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/java') Java
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/c-sharp') C#
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/php') PHP
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/python') Python
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/golang') Golang
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/fusionexport-release-notes') Release Notes
					li
						a
							| Using Fusion Excel Export
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/overview') Overview
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/excel-export-server-side-setup') Server Side Set-up
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/excel-export-client-side-setup') Client Side Set-up
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/excel-export-workflow') Excel Export Workflow
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/export-charts-in-excel') Export charts in Excel
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/supported-charts-and-attributes') Supported Chart Attributes
			li
				a
					| Common Use Cases
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/common-use-cases/building-dashboards') Building a Dashboard
					li
						a(href=site.baseurl + '/common-use-cases/remove-an-existing-chart-from-a-page') Remove an Existing Chart from a Page
					li
						a(href=site.baseurl + '/common-use-cases/reference-to-chart-object') Get Reference to Chart Object
					li
						a(href=site.baseurl + '/common-use-cases/fusioncharts-constructor-and-object') FusionCharts Constructor and Object
					li
						a(href=site.baseurl + '/common-use-cases/change-chart-properties-at-runtime') Change Chart Properties at Runtime
					li
						a(href=site.baseurl + '/common-use-cases/using-special-characters-in-a-chart') Using Special Characters
					li
						a(href=site.baseurl + '/common-use-cases/plot-discontinuous-data') Plot Discontinuous Data
					li
						a(href=site.baseurl + '/common-use-cases/highlight-specific-data-points-on-chart') Highlight Specific Data Points
					li
						a(href=site.baseurl + '/common-use-cases/view-data-of-existing-chart-on-page') View Data of Existing Chart
					li
						a(href=site.baseurl + '/common-use-cases/get-formatted-numbers-outside-chart') Get Formatted Numbers Outside Chart
					li
						a(href=site.baseurl + '/common-use-cases/get-svg-representation-of-a-chart') Get SVG Representation of a Chart
					li
						a(href=site.baseurl + '/common-use-cases/change-chart-messages') Configure Chart Messages
					li
						a(href=site.baseurl + '/common-use-cases/render-thumbnail-versions-of-chart') Render Thumbnail Versions of Charts
	li
		i.icon-api
		a
			| API Reference
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Attributes
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-attributes/') Chart Attributes
					li
						a(href=site.baseurl + '/maps/attribute-reference') Map Attributes
			li
				a
					| Map Spec Sheets
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/maps/marker-data/') Map Marker Data
					li
						a(href=site.baseurl + '/maps/spec-sheets/') Map Specification Sheets
			li
				a
					| JavaScript Methods & Events
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/api/fusioncharts') FusionCharts
					li
						a
							| Events
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/advanced-chart-configurations/events/introduction-to-events') Introduction to Events
							li
								a(href=site.baseurl + '/advanced-chart-configurations/events/handling-events') Handling Events
							li
								a(href=site.baseurl + '/advanced-chart-configurations/events/classifying-events') Classifying Events
							li
								a(href=site.baseurl + '/api/fusioncharts/fusioncharts-events') Events
					li
						a(href=site.baseurl + '/api/fusioncharts/fusioncharts-methods') Methods
					li
						a(href=site.baseurl + '/api/fusioncharts/fusioncharts-properties') Properties
					li
						a(href=site.baseurl + '/api/fusioncharts/fusioncharts-typedefs') Type Definitions
					li
						a
							| Namespaces
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/api/fusioncharts/namespaces/ajax') Ajax
							li
								a(href=site.baseurl + '/api/fusioncharts/namespaces/printmanager') PrintManager
							li
								a(href=site.baseurl + '/api/fusioncharts/namespaces/annotations') Annotations
			li
				a(href=site.baseurl + '/getting-started/jquery/api-reference') jQuery Plugin API
	li
		i.icon-upgrade
		a
			| Upgrading
			i.icon-keyboard-arrow-right
		ul
			
			li
				a(href=site.baseurl + '/upgrading/upgrading-from-evaluation-versions') Upgrade from Evaluation Versions
			li
				a
					| Upgrade to v3.13.x
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/upgrading/change-log') Changelog
					li
						a(href=site.baseurl + '/upgrading/whats-new') What's New
					li
						a(href=site.baseurl + '/upgrading/changed-behavior') Changed Behavior
			li
				a
					| Version History
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-12-X') v3.12.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-11-X') v3.11.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-10-X') v3.10.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-9-0') v3.9-0
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-8-0') v3.8-0
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-7-X') v3.7.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-6-0') v3.6.0
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-5-X') v3.5.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-4-X') v3.4.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-3-X') v3.3.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-2-X') v3.2.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-1-X') v3.1.x
					li
						a(href=site.baseurl + '/upgrading/version-history/version-3-0-X') v3.0.x					
			li
				a(href=site.baseurl + '/upgrading/from-flash-to-javascript') From Flash to JavaScript

	// li><i class="icon-widgets"></i><a href="/showcase">Showcase</a></li

	//
		li class="divider-top"><i class="icon-help"></i><a href="/faqs">FAQs</a></li>
		<li><i class="icon-device-hub"></i><a href="/changelog">Changelog</a></li
