ul.nav
	li
		i.icon-home
		a(href=site.baseurl + '/') Home
	li
		i.icon-spaceship
		a
			| Installation 
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Client Side Frameworks 
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/installation/client-side-frameworks/install-using-plainjs') Plain JS
					li
						a(href=site.baseurl + '/installation/client-side-frameworks/install-using-angular') Angular
					li
						a(href=site.baseurl + '/installation/client-side-frameworks/install-using-reactjs') React
					li
						a(href=site.baseurl + '/installation/client-side-frameworks/install-using-jquery') jQuery
			li
				a
					| Server Side Frameworks 
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/installation/server-side-frameworks/install-using-php') PHP
					li
						a(href=site.baseurl + '/installation/server-side-frameworks/install-using-ruby-on-rails') Ruby on Rails
					li
						a(href=site.baseurl + '/installation/server-side-frameworks/install-using-asp-net') ASP.NET
					li
						a(href=site.baseurl + '/installation/server-side-frameworks/install-using-java') Java
					li
						a(href=site.baseurl + '/installation/server-side-frameworks/install-using-django') Django
	li
		i.icon-flip
		a
			| Guides 
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Getting Started 
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-guide/getting-started/building-your-first-chart') Your First Chart
					li
						a(href=site.baseurl + '/chart-guide/getting-started/building-your-first-widget') Your First Widget
					li
						a(href=site.baseurl + '/chart-guide/getting-started/building-your-first-map') Your First Map
					li
						a(href=site.baseurl + '/chart-guide/getting-started/building-dashboards') Building Dashboards
					li
						a(href=site.baseurl + '/chart-guide/getting-started/list-of-charts') List of Charts
					li
						a(href=site.baseurl + '/chart-guide/getting-started/list-of-maps') List of Maps
					li
						a(href=site.baseurl + '/chart-guide/getting-started/using-xml-as-data-format') Using XML as Data Format
					li
						a(href=site.baseurl + '/chart-guide/getting-started/setting-data-source-using-url') Setting Data Source Using URL
			li
				a
					| Chart Configurations
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/size-and-type') Size and Type
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/border-and-background') Border and Background
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/canvas') Canvas
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/titles-and-axis-names') Titles and Axis Names
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/data-plot') Data Plot
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/data-labels') Data Labels
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/data-values') Data Values
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/number-format') Number Format
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/fonts') Fonts
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/chart-palettes') Chart Palettes 
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/chart-limits') Chart Limits 
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/div-lines-and-grids') Div Lines and Grids
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/vertical-div-lines') Vertical Div Lines
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/zero-plane') Zero Plane
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/trend-lines-and-zones') Trend Lines and Zones
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/anchors-and-lines') Anchors and Lines
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/cross-line') Cross Line
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/tool-tips') Tooltips
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/vertical-lines') Vertical Lines
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/legend') Legend
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/annotations') Annotations
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/tick-marks') Tick Marks
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/loading-external-logo') Loading External Logo
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/chart-paddings-and-margins') Chart Paddings and Margins
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/toolbar') Toolbar
					li
						a(href=site.baseurl + '/chart-guide/chart-configurations/drill-down') Drill-down
			li
				a
					| Charts 
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/line-area-and-column-charts') Line, Area and Column Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/pie-and-doughnut-charts') Pie and Doughnut Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/multi-series-charts') Multi-Series Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/combination-charts') Combination Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/stacked-charts') Stacked Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/scroll-charts') Scroll Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/bubble-and-xy-charts') Bubble and XY Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/pareto-charts') Pareto Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/marimekko-chart') Marimekko Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/treemap') Treemap
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/heat-map-chart') Heat Map Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/gantt-chart') Gantt Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/zoom-line-charts') Zoom Line Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/drag-able-charts') Drag-able Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/select-scatter-chart') Select Scatter Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/zoom-scatter-chart') Zoom Scatter Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/radar-chart') Radar Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/funnel-chart') Funnel Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/pyramid-chart') Pyramid Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/bullet-graphs') Bullet Graphs
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/multi-axis-line-chart') Multi-axis Line Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/multi-level-pie-chart') Multi-level Pie Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/candlestick-chart') Candlestick Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/waterfall-chart') Waterfall Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/box-and-whisker-chart') Box and Whisker Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/error-charts') Error Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/spline-charts') Spline Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/inverse-y-axis-chart') Inverse Y Axis Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/logarithmic-charts') Logarithmic Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/step-line-chart') Step Line Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/kagi-chart') Kagi Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/spark-charts') Spark Charts
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/drag-node-chart') Drag Node Chart
					li
						a(href=site.baseurl + '/chart-guide/standard-charts/real-time-charts') Real-Time Charts
			li
				a
					| Gauges and Widgets 
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/chart-guide/gauges-and-widgets/angular-gauge') Angular Gauge
					li
						a(href=site.baseurl + '/chart-guide/gauges-and-widgets/bulb-gauge') Bulb Gauge
					li
						a(href=site.baseurl + '/chart-guide/gauges-and-widgets/cylinder-gauge') Cylinder Gauge
					li
						a(href=site.baseurl + '/chart-guide/gauges-and-widgets/led-gauge') Led Gauge
					li
						a(href=site.baseurl + '/chart-guide/gauges-and-widgets/linear-gauge') Linear Gauge
					li
						a(href=site.baseurl + '/chart-guide/gauges-and-widgets/thermometer-gauge') Thermometer Gauge
			li
				a
					| Map Guide
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/map-guide/setup') Setup
					li
						a(href=site.baseurl + '/map-guide/simple-data-driven-map') Simple Data Driven Map
					li
						a(href=site.baseurl + '/map-guide/customizing-your-map') Customizing Your Map
					li
						a(href=site.baseurl + '/map-guide/custom-entity-ids') Custom Entity IDs
					li
						a(href=site.baseurl + '/map-guide/colouring-based-on-data-range') Coloring Based on Data Range
					li
						a(href=site.baseurl + '/map-guide/adding-markers') Adding Markers
					li
						a(href=site.baseurl + '/map-guide/data-driven-markers') Data Driven Markers
					li
						a(href=site.baseurl + '/map-guide/using-marker-sheets') Using Marker Sheets
					li
						a(href=site.baseurl + '/map-guide/listening-to-map-events') Listening to Map Events
					li
						a(href=site.baseurl + '/map-guide/adding-drill-down-to-maps') Adding Drill Down to Maps
			li
				a
					| Map Reference
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/maps/marker-data/') Marker Data
					li
						a(href=site.baseurl + '/maps/spec-sheets/') Specification Sheets
					li
						a(href=site.baseurl + '/maps/attribute-reference') Attribute Reference
	li
		i.icon-widgets
		a
			| Themes
			i.icon-keyboard-arrow-right
		ul
			li
				a(href=site.baseurl + '/themes/introduction-to-themes') Introduction to Themes
			li
				a(href=site.baseurl + '/themes/theme-manager') Theme Manager
			li
				a(href=site.baseurl + '/themes/creating-new-themes') Creating New Themes
	li
		i.icon-widgets
		a
			| Showcase
			i.icon-keyboard-arrow-right
		ul
			li
				a(href=site.baseurl + '/demos/chart-gallery') Chart Gallery
			li
				a(href=site.baseurl + '/demos/dashboards') Business Dashboards
			li
				a(href=site.baseurl + '/demos/chart-fiddles') Live Examples of Charts
	li
		i.icon-color
		a
			| Customizing Charts 
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Advanced Chart Configurations
					i.icon-keyboard-arrow-right
				ul
					li
						a
							| Events
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/advanced-chart-configurations/events/introduction-to-events') Introduction to Events
							li
								a(href=site.baseurl + '/advanced-chart-configurations/events/handling-events') Handling Events
							li
								a(href=site.baseurl + '/advanced-chart-configurations/events/classifying-events') Classifying Events
					li
						a
							| Tutorials
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/advanced-chart-configurations/tutorials/render-thumbnail-versions-of-chart') Render Thumbnail Versions of Charts
							li
								a(href=site.baseurl + '/advanced-chart-configurations/tutorials/change-chart-messages') Configure Chart Messages
			li
				a(href=site.baseurl + '/chart-attributes/') Chart Attributes
			li
				a
					| Export Using
					i.icon-keyboard-arrow-right
				ul
					li
						a
							| FusionCharts Export Server
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/exporting-charts-as-image-and-pdf') Exporting Charts as Image and PDF
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/exporting-chart-data') Exporting Chart Data
							li
								a
									| Modes of Export
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/modes-of-export/exporting-charts-and-chart-data-using-the-server-side-export-feature') Exporting Charts and Chart Data Using the Server-side Export Feature
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/modes-of-export/exporting-charts-and-chart-data-using-the-client-side-export-feature') Exporting Charts and Chart Data Using the Client-side Export Feature
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/modes-of-export/exporting-charts-and-chart-data-using-the-auto-export-feature') Exporting Charts and Chart Data Using the Auto Export Feature
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/logging-export-statistics') Logging Export Statistics
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/configuring-the-export-feature') Configuring the Export Feature
							li
								a
									| Setup Private Export Server
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/asp-net') ASP.NET
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/php') PHP
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/java') Java
									li
										a(href=site.baseurl + '/exporting-charts/using-fc-export-server/server-side-export/setup-private-export-server/ruby-on-rails') Ruby on Rails
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/exporting-multiple-charts-in-a-single-image') Exporting Multiple Charts in a Single Image
							li
								a(href=site.baseurl + '/exporting-charts/using-fc-export-server/architecture-of-the-fusioncharts-export-server') Architecture of the FusionCharts Export Server
					li
						a
							| FusionExport 
							span.bubble-text Beta
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/overview') Overview
							li
								a
									| Installation
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/install-fusionexport-desktop') Install FusionExport desktop
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/install-fusionexport-web-service') Install FusionExport Web Service
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/install-fusionexport-cli') Install FusionExport CLI
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/installation/add-language-sdks') Add Language SDKs
							li
								a
									| Tutorials
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-chart-as-image') Export chart as image
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/change-the-export-type') Change the export type
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/customize-the-width-and-height-of-an-exported-chart') Customize the width and height of an exported chart
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-in-bulk-using-multiple-js-json-files') Export charts in bulk
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-the-output-files-as-zip') Export the output files as a zip
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/override-the-chart-config') Override the chart config
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-a-dashboard') Export a dashboard
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/add-a-logo-or-heading-to-the-dashboard') Add a logo or a heading to the dashboard
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/convert-an-svg-image-to-png-jpeg-pdf') Convert an SVG image to PNG/JPEG/PDF
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/use-the-licensed-fusioncharts-library-for-export') Use the licensed FusionCharts library for export
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/inject-extra-javascript-while-exporting') Inject extra JavaScript while exporting
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-remotely') Export remotely
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/manipulate-the-output-filename') Manipulate the output filename
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/cli-options-in-a-file') Add CLI options in a file
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/enabling-logging') Enable logging
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/save-exported-files-to-s-three') Save exported files to S3
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/asynchronous-capture') Asynchronous capture
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/tutorials/export-a-d3-chart') Export a D3 chart
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/cli-reference') CLI Reference
							li
								a(href=site.baseurl + '/exporting-charts/using-fusionexport/fusionexport-web-service-api-reference') Web Service API Reference
							li
								a
									| SDK API Reference
									i.icon-keyboard-arrow-right
								ul
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/nodejs') Node.js
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/java') Java
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/c-sharp') C#
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/php') PHP
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/python') Python
									li
										a(href=site.baseurl + '/exporting-charts/using-fusionexport/sdk-api-reference/golang') Golang
					li
						a
							| Excel Export 
							span.bubble-text Beta
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/overview') Overview
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/excel-export-server-side-setup') Server Side Set-up
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/excel-export-client-side-setup') Client Side Set-up
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/excel-export-workflow') Excel Export Workflow
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/export-charts-in-excel') Export charts in Excel
							li
								a(href=site.baseurl + '/exporting-charts/using-excelexport/supported-charts-and-attributes') Supported Chart Attributes
	li
		i.icon-api
		a
			| API Reference
			i.icon-keyboard-arrow-right
		ul
			li
				a(href=site.baseurl + '/api/fusioncharts') FusionCharts
			li
				a(href=site.baseurl + '/api/fusioncharts/fusioncharts-events') Events
			li
				a(href=site.baseurl + '/api/fusioncharts/fusioncharts-methods') Methods
			li
				a(href=site.baseurl + '/api/fusioncharts/fusioncharts-properties') Properties
			li
				a(href=site.baseurl + '/api/fusioncharts/fusioncharts-typedefs') Type Definitions
			li
				a
					| Namespaces
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/api/fusioncharts/namespaces/debugger') Debugger
					li
						a(href=site.baseurl + '/api/fusioncharts/namespaces/ajax') Ajax
					li
						a(href=site.baseurl + '/api/fusioncharts/namespaces/printmanager') PrintManager
					li
						a(href=site.baseurl + '/api/fusioncharts/namespaces/annotations') Annotations
			li
				a(href=site.baseurl + '/api/global-methods') Global Methods
	li
		i.icon-open-book
		a
			| Tutorials
			i.icon-keyboard-arrow-right
		ul
			li
				a(href=site.baseurl + '/tutorials/remove-an-existing-chart-from-a-page') Remove an Existing Chart from a Page
			li
				a(href=site.baseurl + '/tutorials/reference-to-chart-object') Get Reference to Chart Object
			li
				a(href=site.baseurl + '/tutorials/fusioncharts-constructor-and-object') FusionCharts Constructor and Object
			li
				a(href=site.baseurl + '/tutorials/change-chart-properties-at-runtime') Change Chart Properties at Runtime
			li
				a(href=site.baseurl + '/tutorials/using-special-characters-in-a-chart') Using Special Characters
			li
				a(href=site.baseurl + '/tutorials/plot-discontinuous-data') Plot Discontinuous Data
			li
				a(href=site.baseurl + '/tutorials/highlight-specific-data-points-on-chart') Highlight Specific Data Points
			li
				a(href=site.baseurl + '/tutorials/view-data-of-existing-chart-on-page') View Data of Existing Chart
			li
				a(href=site.baseurl + '/tutorials/get-formatted-numbers-outside-chart') Get Formatted Numbers Outside Chart
			li
				a(href=site.baseurl + '/tutorials/get-svg-representation-of-a-chart') Get SVG Representation of a Chart
	li
		i.icon-bookmark
		a
			| Integration with your Stack
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Using with Server Side Languages
					i.icon-keyboard-arrow-right
				ul
					li
						a
							| PHP
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-server-side-languages/php/introduction') Introduction to the FusionCharts PHP Wrapper
							li
								a(href=site.baseurl + '/using-with-server-side-languages/php/different-ways-of-loading-data') Different Ways of Loading Data in PHP
							li
								a(href=site.baseurl + '/using-with-server-side-languages/php/creating-charts-with-data-from-a-database') Creating Charts in PHP using a Database
					li
						a
							| Ruby on Rails
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-server-side-languages/ruby-on-rails/introduction') Introduction to the FusionCharts Ruby on Rails Wrapper
							li
								a(href=site.baseurl + '/using-with-server-side-languages/ruby-on-rails/different-ways-of-loading-data') Different Ways of Loading Data in Ruby
							li
								a(href=site.baseurl + '/using-with-server-side-languages/ruby-on-rails/creating-charts-with-data-from-a-database') Creating Charts in Ruby using a Database
					li
						a
							| ASP.NET
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-server-side-languages/asp-net/introduction') Introduction to the FusionCharts ASP.NET Wrapper
							li
								a(href=site.baseurl + '/using-with-server-side-languages/asp-net/different-ways-of-loading-data') Different Ways of Loading Data in ASP.Net
							li
								a(href=site.baseurl + '/using-with-server-side-languages/asp-net/creating-charts-with-data-from-a-database') Creating Charts in ASP.Net using a Database
							li
								a(href=site.baseurl + '/using-with-server-side-languages/asp-net/creating-drill-down-charts') Creating Drill-down Charts
					li
						a
							| Java
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-server-side-languages/java/introduction') Introduction to the FusionCharts JSP Wrapper
							li
								a(href=site.baseurl + '/using-with-server-side-languages/java/different-ways-of-loading-data') Different Ways of Loading Data in Java
							li
								a(href=site.baseurl + '/using-with-server-side-languages/java/creating-charts-with-data-from-a-database') Creating Charts in Java using a Database
					li
						a
							| Django
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-server-side-languages/django/introduction-to-the-django-wrapper') Introduction to the FusionCharts Django Wrapper
							li
								a(href=site.baseurl + '/using-with-server-side-languages/django/different-ways-of-loading-data') Different Ways of Loading Data in Django
							li
								a(href=site.baseurl + '/using-with-server-side-languages/django/creating-charts-with-data-from-a-database') Creating Charts in Django using a Database
					li
						a
							| Tutorials
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-server-side-languages/tutorials/php-mysql-charts') Create Interactive Charts using PHP and MySQL
							li
								a(href=site.baseurl + '/using-with-server-side-languages/tutorials/drill-down-charts-using-php-mysql') Create Drill-Down Charts using PHP and MySQL
							li
								a(href=site.baseurl + '/using-with-server-side-languages/tutorials/creating-interactive-charts-using-node-express-and-mongodb') Create Charts using Node.js, ExpressJS and Mongodb
			li
				a
					| Using with JavaScript Libraries
					i.icon-keyboard-arrow-right
				ul
					li
						a
							| jQuery
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/introduction') Introduction to FusionCharts jQuery Helper
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/rendering-charts-using-jquery') Rendering Charts Using jQuery
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/updating-chart-properties-using-jquery') Updating Chart Properties Using jQuery
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/selecting-charts-using-jquery') Selecting Charts Using jQuery
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/handling-events-using-jquery') Handling Events Using jQuery
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/rendering-charts-from-html-tables') Rendering Charts from HTML Tables
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/jquery/api-reference') API Reference
					li
						a
							| AngularJS
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angularjs/introduction') Introduction to FusionCharts AngularJS Directive
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angularjs/creating-charts-using-the-angular-fusioncharts-directive') Creating Charts Using the Angular-FusionCharts Directive
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angularjs/configuring-charts-using-the-angularjs-scope-object') Configuring Charts Using the Scope
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angularjs/configuring-advanced-features-using-angularjs') Configuring Advanced Features Using AngularJS
					li
						a
							| ReactJS
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/reactjs/introduction') Introduction to FusionCharts ReactJS Component
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/reactjs/install-fusioncharts-reactjs-component-via-npm') Install FusionCharts ReactJS Component via NPM
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/reactjs/creating-charts-using-the-react-fusioncharts-component') Creating Charts Using the React-FusionCharts Component
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/reactjs/configuring-charts-using-the-reactjs-props-object') Configuring Charts Using the ReactJS Props Object
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/reactjs/configuring-advanced-features-using-reactjs') Configuring Advanced Features Using ReactJS
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/reactjs/including-interactivity-in-charts-using-reactjs') Including Interactivity in Charts Using ReactJS
					li
						a
							| VueJS
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/vuejs/introduction') Introduction to the FusionCharts VueJS Component
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/vuejs/installing-the-fusioncharts-vuejs-component-via-npm') Installing the FusionCharts VueJS Component via NPM
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/vuejs/creating-charts-using-the-fusioncharts-vuejs-component') Creating Charts Using the FusionCharts VueJS Component
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/vuejs/configuring-advanced-features-using-vuejs') Configuring Advanced Features Using VueJS
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/vuejs/including-interactivity-in-charts-using-vuejs') Including Interactivity in Charts Using VueJS
					li
						a
							| Angular4
							i.icon-keyboard-arrow-right
						ul
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angular4/introduction') Introduction to the FusionCharts Angular4 Component
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angular4/installing-the-fusioncharts-angular4-component-via-npm') Installing the FusionCharts Angular4 Component via NPM
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angular4/creating-charts-using-the-fusioncharts-angular4-component') Creating Charts Using the FusionCharts Angular4 Component
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angular4/configuring-advanced-features-using-angular4') Configuring Advanced Features Using Angular4
							li
								a(href=site.baseurl + '/using-with-javascript-libraries/angular4/including-interactivity-in-charts-using-angular4') Including Interactivity in Charts Using Angular4
	li
		i.icon-headset-mic
		a
			| Help
			i.icon-keyboard-arrow-right
		ul
			li
				a
					| Migration
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/migration/upgrading-from-evaluation-versions') Upgrade from Evaluation Versions

					li
						a(href=site.baseurl + '/migration/upgrading-from-previous-versions') Upgrade from Previous Versions

					li
						a(href=site.baseurl + '/migration/whats-new') What's New in v3.12.2

					li
						a(href=site.baseurl + '/migration/deprecated-functionalities') Deprecated Functionalities in v3.12.2
			li
				a
					| Troubleshooting
					i.icon-keyboard-arrow-right
				ul
					li
						a(href=site.baseurl + '/troubleshooting/debugger') Using the FusionCharts Suite XT Debugger
	// li><i class="icon-widgets"></i><a href="/showcase">Showcase</a></li

	//
		li class="divider-top"><i class="icon-help"></i><a href="/faqs">FAQs</a></li>
		<li><i class="icon-device-hub"></i><a href="/changelog">Changelog</a></li
